
.container {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vh;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: -15vh;

}

.title {

    display: flex;
    color:rgb(15, 19, 18);
    font-size: 42px;
    font-weight: 1000;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
 

  
    

}


body {

    background-color: rgb(214, 233, 227);

}



.board {
    margin-top: 10vh;
    margin-bottom: 2vh;
    display: grid;
    width: 500px;
    height: 500px;
    margin-right: auto;
    margin-left: auto;

}


p {

    padding-right: 20px;

}

.buttons {

    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3vh;
    border-radius: 3px;
    justify-content: center;
    text-align: center;
    align-items: center;
    border: 1px solid #000;
    padding: 20px 20px;
    background: rgb(196, 214, 209);
    width: 51vh;
    font-size: 12px;
    font-family: 'Arial';
    padding: 5px;
    padding: 5px 10px;
    


}

input {
    max-width: 200px;
}

button {
    margin: 1vh;
    border-radius: 4px;
    color: white;
    font-weight: 600;
    font-size: 16px;
    background-color: rgb(111, 114, 111);
    margin-left: 2vw;
    
}

button:hover {

    transform: scale(1.05);
    transition: 0.1s ease-in-out;

}

button:active {
    transform: scale(0.95);
    transition: 0.1s ease-in-out;

}


